# --------------------------------------------------------------------------
# Tracker Tracker — Environment Variables
# --------------------------------------------------------------------------

# Generate with: openssl rand -base64 24
POSTGRES_PASSWORD=change-me

# Generate with:  openssl rand -base64 48
SESSION_SECRET=change-me-to-a-random-string-minimum-32-chars


TZ=America/Chicago

# Optional if you want to customize the port
# PORT=3000

# LOG_LEVEL=debug

# The following are optional overrides:
# POSTGRES_USER=postgres
# POSTGRES_DB=tracker_tracker

