# --------------------------------------------------------------------------
# Tracker Tracker — Env Variables
# --------------------------------------------------------------------------

# Generate with:  openssl rand -base64 48
SESSION_SECRET=plz-change-me-to-a-random-string-minimum-32-chars

# Generate with: openssl rand -base64 24
POSTGRES_PASSWORD=change-me

POSTGRES_USER=postgres

TZ=America/Chicago

# Optional Stuff
# --------------------------

# PORT=3000
# BASE_URL=https://trackertracker.example.com
# LOG_LEVEL=debug
# POSTGRES_DB=tracker_tracker

